<?xml version="1.0"?>
<ruleset name="PSR12">
    <description>The PSR12 coding standard.</description>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12" />
    <rule ref="Generic.PHP.RequireStrictTypes"/>

    <file>src</file>
</ruleset>
